.countdown {
  grid-template-columns: 1fr auto;
  align-items: center;
  grid-column-gap: 1rem;
}

mat-card.error {
  background: rgb(235 57 57 / 30%);
  mat-card-header {
    align-items: center;
    justify-content: space-between;
  }
}
