<main>
  <section class="countdown">
    <p>
      <span *ngIf="intervalEnabled; else intervalDisabled">
        New joke arriving in {{ newJokeTimeRemaining }} seconds...
      </span>
      <ng-template #intervalDisabled>
        Resume to keep getting new jokes.
      </ng-template>
    </p>
    <button mat-button color="{{ intervalEnabled ? 'warn' : 'accent' }}"
      (click)="toggleInterval()">
      {{ intervalEnabled ? 'PAUSE':'RESUME'}}
    </button>
  </section>
  <section *ngIf="loadingJokes">
    <mat-progress-bar mode="determinate" value="{{ jokes.length * 10 }}"></mat-progress-bar>
    <span [ngStyle]="{ textAlign: 'center' }">Loading jokes...</span>
  </section>
  <section *ngIf="!loadingJokes">
    <mat-card *ngFor="let joke of jokes">
      <mat-card-content>{{ joke?.text }}</mat-card-content>
      <mat-card-actions>
        <button mat-icon-button
          aria-label="Mark joke as favorite">
          <mat-icon>favorite{{ joke?.isFavorite ? '' : '_outline' }}</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </section>
</main>
