@use '@angular/material' as mat;

@include mat.core();

// Dark theme
$dark-theme: mat.define-dark-theme((
 color: (
   primary: mat.define-palette(mat.$purple-palette),
   accent: mat.define-palette(mat.$green-palette),
 ),
  typography: mat.define-typography-config(),
  density: 0,
));

// Light theme
$light-theme: mat.define-light-theme((
 color: (
   primary: mat.define-palette(mat.$deep-purple-palette),
   accent: mat.define-palette(mat.$amber-palette),
 ),
));

// Dark theme by default
@include mat.all-component-themes($dark-theme);

html, body {
  height: 100%;
}

// Light theme if preferred
html.light-theme {
  @include mat.all-component-colors($light-theme);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Section with jokes
section {
  padding: 1rem 0;
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;

  @media screen and (max-width: 62rem) {
    width: 80%;
  }
}

.text-center {
  text-align: center;
}
